# ConfigMap which holds the value of the data to serve by the webapp
# Note: No annotations needed - the ConfigWatcher CRD handles the mapping
apiVersion: v1
kind: ConfigMap
metadata:
  name: webapp-config
data:
  message: "Welcome to Kubernetes Patterns !"
---
# Deployment for a simple HTTP server which serves the value
# of an environment variable to the browser.
# The env-var is picked up from a config map
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  labels:
    app: webapp
spec:
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: app
        image: k8spatterns/mini-http-server
        ports:
        - containerPort: 8080
        env:
        - name: MESSAGE
          valueFrom:
            configMapKeyRef:
              name: webapp-config
              key: message
---
# Service for accessing the web server via port 8080
apiVersion: v1
kind: Service
metadata:
  name: webapp
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  type: NodePort
  selector:
    app: webapp
