# random-generator Deployment 및 Service
# HPA/VPA 오토스케일링 대상 워크로드
apiVersion: apps/v1
kind: Deployment
metadata:
  name: random-generator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: random-generator
  template:
    metadata:
      labels:
        app: random-generator
    spec:
      containers:
      - image: k8spatterns/random-generator:1.0
        name: random-generator
        resources:
          requests:
            # HPA가 CPU 사용률을 계산하기 위한 기준점
            cpu: 200m
            memory: 200Mi
        ports:
        - containerPort: 8080
          protocol: TCP
---
# random-generator 서비스 (NodePort로 외부 접근 가능)
apiVersion: v1
kind: Service
metadata:
  name: random-generator
spec:
  selector:
    app: random-generator
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  type: NodePort
