apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: webapp
    pattern: configuration-template
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
