apiVersion: v1
kind: Service
metadata:
  name: random-generator
  labels:
    pattern: EnvVarConfiguration
spec:
  type: NodePort
  selector:
    app: random-generator
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http
