apiVersion: v1
kind: ServiceAccount
metadata:
  name: config-watcher-controller
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: config-watcher-controller
subjects:
- kind: ServiceAccount
  name: config-watcher-controller
roleRef:
  name: edit
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-watcher-controller
data:
  config-watcher-controller.sh: |
    #!/bin/bash
    namespace=${WATCH_NAMESPACE:-default}
    base=http://localhost:8001
    ns=namespaces/$namespace

    start_event_loop() {
      echo "::: Starting to wait for events"
      curl -N -s $base/api/v1/${ns}/configmaps?watch=true | while read -r event
      do
        event=$(echo "$event" | tr '\r\n' ' ')
        local type=$(echo "$event" | jq -r .type)
        local config_map=$(echo "$event" | jq -r .object.metadata.name)
        local annotations=$(echo "$event" | jq -r '.object.metadata.annotations')
        if [ "$annotations" != "null" ]; then
          local pod_selector=$(echo $annotations | jq -r 'to_entries | .[] | select(.key == "k8spatterns.com/podDeleteSelector") | .value | @uri')
        fi
        echo "::: $type -- $config_map -- $pod_selector"
        if [ $type = "MODIFIED" ] && [ -n "$pod_selector" ]; then
          delete_pods_with_selector "$pod_selector"
        fi
      done
    }

    delete_pods_with_selector() {
      local selector=${1}
      echo "::::: Deleting pods with $selector"
      local pods=$(curl -s $base/api/v1/${ns}/pods?labelSelector=$selector | jq -r .items[].metadata.name)
      for pod in $pods; do
        exit_code=$(curl -s -X DELETE -o /dev/null -w "%{http_code}" $base/api/v1/${ns}/pods/$pod)
        if [ $exit_code -eq 200 ]; then
          echo "::::: Deleted pod $pod"
        else
          echo "::::: Error deleting pod $pod: $exit_code"
        fi
      done
    }

    start_event_loop
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    project: k8spatterns
    pattern: Controller
    role: controller
  name: config-watcher-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-watcher-controller
  template:
    metadata:
      labels:
        project: k8spatterns
        pattern: Controller
        app: config-watcher-controller
        role: controller
    spec:
      serviceAccountName: config-watcher-controller
      containers:
      - name: kubeapi-proxy
        image: k8spatterns/kubeapi-proxy
      - name: config-watcher
        image: k8spatterns/curl-jq
        env:
         - name: WATCH_NAMESPACE
           valueFrom:
             fieldRef:
               fieldPath: metadata.namespace
        command:
        - "sh"
        - "/watcher/config-watcher-controller.sh"
        volumeMounts:
        - mountPath: "/watcher"
          name: config-watcher-controller
      volumes:
      - name: config-watcher-controller
        configMap:
          name: config-watcher-controller
